/*Contains the flexbox styles*/
.Example_flex_direction {
     display: flex;
     flex-direction: column;
 }

.Example_flex_direction > div {
    background-color: orangered;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
